<header class="page-header">
  <h1>About Jungle</h1>
</header>

<div class="row">

  <p>Welcome to the jungle, we've got fun and games!
We got everything you want honey, we know the names!
We are the people that can find whatever you may need!
If you got the money, honey, we got your disease!</p>

  <%= link_to 'Home', :root %>
</div>
